<br></br>
<h3 class="h3_fixed">Nation Details</h3>
<br>

<section class="show_details">
<p><b>Name: </b><%= @nation.name %></p>
<br>

<b>Athletes: </b>
<p><% @nation.athletes.each do |athlete| %>
  <%= athlete.name  %><br>
<% end %></p>
<br>

<p><b>Total Gold Medals: </b><%= @league.gold_medals_by_nation( @nation.id ) %></p>
<br>

<p><b>Total Silver Medals: </b><%= @league.silver_medals_by_nation( @nation.id ) %></p>
<br>

<p><b>Total Bronze Medals: </b><%= @league.bronze_medals_by_nation( @nation.id ) %></p>
<br>

<p><b>Total Points: </b><%= @league.points_by_nation( @nation.id ) %></p>
<br>

<a href="/nations/<%= @nation.id %>/edit"><b>Edit</b></a>
<br>
<br>
<form action="/nations/<%= @nation.id %>/delete" method="post">
  <input type="submit" value="Delete">
</form>
</section>