<br></br>
<h3 class="h3_fixed">Athlete Details</h3>
<br>

<section class="show_details">
<p><b>Name: </b><%= @athlete.name %></p><br>

<p><b>Nation: </b><%= @athlete.nation.name %></p>
<br>

<p><b>Participating in: </b>
<% @athlete.events.each do |event| %><%=event.name %></p> 
<%  end %>
<br>


<p><b>Total Gold Medals: </b><%= @athlete.gold_medals %></p>

<p><b>Total Silver Medals: </b><%= @athlete.silver_medals %></p>

<p><b>Total Bronze Medals: </b><%= @athlete.bronze_medals %></p>
<br>

<p><b>Total Points: </b><%= @athlete.total_points %></p>
<br>

<a href="/athletes/<%= @athlete.id %>/edit"><b>Edit</b></a>
<br>
<br>
<form action="/athletes/<%= @athlete.id %>/delete" method="post">
  <input type="submit" value="Delete">
</form>
</section>