<h3>Add Event</h3>

<form action="/events" method="post">

  <label for="name">Name of Event:</label>
  <input type="text" name="name"><br>
  <br>

  <% @athletes.each do |athlete| %>
    <label for="<%= athlete.name %>"><%= athlete.name %></label>
    <input name="<%= athlete.name %>" type="checkbox" value="<%= athlete.id %>">
    <% end %>
    </select>
    <br>
    <br>

  <label for="gold_id">Gold Medal Winner:</label>
  <select name="gold_id">
  <% @athletes.each do |athlete| %>
    <option value="<%= athlete.id %>"><%=athlete.name %></option>   
  <% end %>
  </select>
  <br>

  <label for="silver_id">Silver Medal Winner:</label>
  <select name="silver_id">
  <% @athletes.each do |athlete| %>
    <option value="<%= athlete.id %>"><%=athlete.name %></option>   
  <% end %>
  </select>
  <br>

  <label for="bronze_id">Bronze Medal Winner:</label>
  <select name="bronze_id">
  <% @athletes.each do |athlete| %>
    <option value="<%= athlete.id %>"><%=athlete.name %></option>   
  <% end %>
  </select>       
  <br>

  <input type='submit' value="Add Event!">
</form>
<br>
<br>
<a href="/">Back</a>