<br></br>
<h2>Event Details</h2>
<br>

<b>Name of Event: </b>
<p><%= @event.name %></p>
<br>

<b>Participants in Event: </b>
<% @event.athletes.each do |athlete| %>
  <p><%=athlete.name %></p>   
<%  end %>
<br>
<br>

<b>Gold Medal Winner</b>
<p><%= Athlete.find_medal(@event.gold_id) %></p>
<br>
<br>

<b>Silver Medal Winner</b>
<p><%= Athlete.find_medal(@event.silver_id) %></p>
<br>
<br>

<b>Bronze Medal Winner</b>
<p><%= Athlete.find_medal(@event.bronze_id) %></p>
<br>
<br>



