<br></br>
<h3>Event Details</h3>
<br>

<b>Name of Event: </b>
<p><%= @event.name %></p>
<br>

<b>Participants in Event: </b><br>
<% @participation.each do |athlete| %>
  <%= Athlete.find_name(athlete.athlete_id) %><br>
<% end %>
<br>
<br>

<b>Gold Medal Winner</b>
<p><%= Athlete.find_medal(@event.gold_id) %></p>
<br>
<br>

<b>Silver Medal Winner</b>
<p><%= Athlete.find_medal(@event.silver_id) %></p>
<br>
<br>

<b>Bronze Medal Winner</b>
<p><%= Athlete.find_medal(@event.bronze_id) %></p>
<br>
<br>


<a href="/events/<%= @event.id %>/edit">Edit</a>
<br>
<br>
<form action="/events/<%= @event.id %>/delete" method="post">
  <input type="submit" value="Delete">
</form>



